@page "/libro"
@inject NavigationManager navigationManager
@inject LibroService libroService
@inject IJSRuntime JS
<div>
    <button @onclick="nuevo" class="btn btn-primary">Nuevo</button>

</div>
<SearchLibro></SearchLibro>
<ListLibro/>

@code {
    private void nuevo()
    {
        navigationManager.NavigateTo("/formlibro");
    }   
}
