@inject LibroService libroService

<div class="input-group mt-3 mb-3">
    <input type="text" class="form-control" placeholder="Ingrese el titulo del libro"
           @bind-value="nombretitulo"
           @bind-value:event="oninput">

        <button @onclick="buscar" class="btn btn-outline-dark" type="button">Buscar</button>
        <button @onclick="limpiar" class="btn btn-outline-danger" type="button">Limpiar</button>
</div>
@code {
    public string nombretitulo { get; set; } = string.Empty;

    private async Task limpiar()
    {
        nombretitulo = string.Empty;
        await libroService.notificarbusqueda(nombretitulo);
    }
    private async Task buscar()
    {
        await libroService.notificarbusqueda(nombretitulo);
    }
}
