<h3>FormLibro</h3>
@inject NavigationManager navigationManager
<!-- Asi se trabaja con rutas, pegar esa ruta al lado de local-->
<!--<h3>LibroFormPage</h3>-->
<!-- Diseño del formulario -->
<!-- OnValidSubmit es una validacion-->
<EditForm Model="@oLibroFormCLS" OnValidSubmit="@guardar">
    <!--Este form se basara en lo que ese objeto tiene-->
    <DataAnnotationsValidator />

    <div class="mt-3">
        <label>Id Libro</label>
        <InputNumber class="form-control" @bind-Value="oLibroFormCLS.idLibro" /> <!--A este control number le asociamos el idlibro-->
        <ValidationMessage For="(() => oLibroFormCLS.idLibro)" />
    </div>
    <div class="mt-3">
        <label>Titulo</label>
        <InputText class="form-control" @bind-Value="oLibroFormCLS.titulo" />
        <ValidationMessage For="(() => oLibroFormCLS.titulo)" />
    </div>
    <div class="mt-3">
        <label>Resumen</label>
        <InputTextArea class="form-control" @bind-Value="oLibroFormCLS.resumen" />
        <ValidationMessage For="(() => oLibroFormCLS.resumen)" />
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button class="btn btn-danger" @onclick="@regresar">Regresar</button>
    </div>
</EditForm>
@code {
    //Crear una propiedad del objeto
    public LibroFormCLS oLibroFormCLS { get; set; } = new LibroFormCLS();
    private void guardar()
    {
        Console.WriteLine("Guardando...");
    }

    private void regresar()
    {
        navigationManager.NavigateTo("libro"); // Verificar la L ♦
    }
}
